---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Engineer in Informatics Science with 6 years + of experience in software
    development. Dominion of various programming languages, frameworks, CMS and
    graphics engines. Experience in WEB design and development. Work with Data
    Base handled systems, as well as design, normalization and migration.
    Knowledge of work with graphic design tools for image manipulation , User
    Interfaces design, Web sites, logos and other ones.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ashoka University, Young India Fellowship, 3.53 GPA	 "
      subtitle="2019 - 2020. Spirit of YIF Award"
    />
    <TimeLineElement
      title="PES University"
      subtitle="2014 to 2018 at Computer Science Department"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Developer"
      subtitle="From Nov,2021 to May, 2022 at Utthunga Technologies  (Bengaluru, India)"
      desc="Built production ready, and responsive UI component library using StorybookJS, ReactJS, and TS Built a rendering system for IOT-Data Heavy components on React and NextJS for SSR"
    />
    <TimeLineElement
      title="Software Developer"
      subtitle="From Jan, 2021 to Oct, 2021 at ConnectOR"
      desc="Connect OR - Cooperative scheduling on the go. Make scheduling convenient and less burdensome with a unified calendar. View and schedule cases across multiple facilities through the desktop App. Built the frontend project singlehandedly on React. Built various screens, chat interactions, documents uploads"
    />
    <TimeLineElement
      title="Software Serverless Architect"
      subtitle="From Aug 2020 to Dec 2020 at Mobil80 Solutions"
      desc="Reduced development time by 30% creating templates and workflows for VueJS,Lambda, AppSync, Cognito. Applied best principles in VueJS and built multiple websites on the VueJS ecosystem, VueX, VueRouter, Vuetify Component library. Built products on AWS Serverless Stack, using AWS Amplify, GraphQL. Mentored Junior Developers on the Frontend Team, serverless stack, conducted code reviews and daily standups"
    />
    <TimeLineElement
      title="Software Developer "
      subtitle="From June, 2019 to May, 2019 at Dwise Solutions"
      desc="Played a key role in driving the organization's primary projects in serverless and leading a team of developers in product development, mainly frontend on VueJS. Introduced VueJS and helped teach the team the new framework. Identifying ways to make the frontend development faster. Liaised regularly between different stakeholders and streamlined the overall development process between frontend and backend teams."
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        EF SET English Certificate 74/100 (C2 Proficient)</a
      >
    </li>
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        Scrum Foundation Professional Certificate (SFPC)</a
      >
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>React</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Vue</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Git</li>
    <li>Scrum</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Office Suite</li>
  </ul>
</BaseLayout>
