---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Chandher Shekar</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer and Sports Enthusiast
    </div>
    <div class="py-2">
      <p>
        <text class="text-lg">
          I am a highly skilled and experienced developer, with a passion for
          creating engaging and user-friendly web experiences. I have a
          Bachelor's degree in Computer Science and over three years of
          professional experience in the field. I have a strong understanding of
          frontend technologies, including HTML, CSS, and JavaScript, and have
          experience using popular frameworks such as React and Vue.
        </text>
      </p>
      <br />
      <p>
        <text class="text-lg">
          I am comfortable working with both traditional and modern web
          development practices, and am always eager to learn and stay
          up-to-date with the latest technologies. In my previous positions, I
          was responsible for developing and maintaining the company's project
          on NextJS. I worked closely with the design team to ensure that the
          components were visually appealing and easy to navigate, and
          implemented a number of features and improvements to enhance the user
          experience. I also contributed to the development of the company's
          dashboard application, UI Component library.
        </text>
      </p>
      <br />
      <p>
        <text class="text-lg">
          I am confident that my skills and experience make me a strong
          candidate. I am a team player, with excellent communication and
          problem-solving skills. I am also highly organized and
          detail-oriented, with the ability to manage multiple tasks and
          deadlines effectively.
        </text>
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Declare Game"
    img="/post_img.webp"
    desc="Multiplayer Card Game"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Prediction League"
    img="/post_img.webp"
    desc="Predict Games of a given tournament and see who has the best fortune telling skills"
    url="#"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
